.login .left-block{
    width: 500px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
    left: 0;
    background-color: whitesmoke;
}
.login .rigth-filter{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(204, 15, 249, 0.3);
    z-index: 10;
}
.background-image{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(5px);
    background-image: url(../../resources/img/back.jpg);
}
.my-container{
    width: 100%;
    height: 100%;
    position: relative;
}
.my-container .footer{
    width: 100%;
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: darkviolet;
    height: 150px;
}

.my-container .header{
    width: 100%;
    top:0;
    position: absolute;
    left: 0;
    background-color: blueviolet;
    height: 300px;
}
.my-container .content{
    width: 100%;
    top:300px;
    position: absolute;
    left: 0;
}
.text{
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
    padding-left: 5px;
    height: 30px;
    border: 1px solid #000;
}
.logo{
    height: 200px;
    width: 450px;
    margin-top: 50px;
}
.logo table{
    width: 100%; height: 100%;
}

.logo table p{
    font-weight: 900;
    color:#fff;
    font-size: 24px;
}
#loginForm{
    margin-top: 20px;
    margin-left: 50px;
    width: 400px;
    height: 300px;
}
.error{
    font-size: 8px;
    color: red;
}
.main-header{
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    height: 75px;
    z-index: 1000;
    background-color: darkviolet;
}
.main-content{
    margin-top: 80px;
    width: 1200px;
    min-height: 540px;
}
.main-header .rigth-block{
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    float: right;
}
.exit{
    margin-right: 50px;
    margin-left: 5px;
    width: 75px;
}
.main-header .rigth-block:hover{
    background-color: rgba(255,255,255,.1);
}
.main-header .rigth-block p{
    line-height: 75px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.modal-user{
    display: none;
    width: 200px;
    height: 400px;
    background-color: blue;
    margin-top: 75px;
    position: fixed;
    margin-right: 50px;
}
.logo{
    height: 100%;
    margin-left: 100px;
    margin-top: 0;
    float: left;
}
.logOutBtn{
    background-color: rgba(0,0,0,0);
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 75px;
    height: 75px;
}

.menu-container{
    width: 100%;
    min-height: 500px;
}
.items-container{
    float: left;
    width: 230px;
    height:180px;
    padding: 0;
    margin: 0;
}
.menu-container .menu-items{
    position: relative;
    margin: 15px;
    width: 200px;
    height: 150px;
    border: 1px solid darkviolet;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px #ccc;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.menu-container .menu-items:hover{
    margin: 0px;
    width: 230px;
    height: 180px;
    border-radius: 8px;
    box-shadow: 5px 5px 35px 11px #ccc;
    border: 2px solid darkviolet;
}
.menu-container .menu-items:active{
    margin: 15px;
    width: 200px;
    height: 150px;
    border: 1px solid darkviolet;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px #ccc
}
.menu-container .menu-items .image-panel{
    position: absolute;
    top: 2%;
    left:10%;
    height:73%;
    width: 80%;
    float: left;
}
.menu-container .menu-items .image-panel .image{
    height:100px;
    padding: 5px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.menu-container .menu-items:hover .image-panel .image{
    height:120px;
    padding: 5px;
}
.menu-container .menu-items:active .image-panel .image{
    height:100px;
    padding: 5px;
}
.menu-container .menu-items .title-panel {
    width: 80%;
    height: 25%;
    margin-left: 10%;
    float: left;
    bottom: 0;
    position: absolute;
}
.menu-container .menu-items .title-panel p {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    font-weight: 600;
    color: darkviolet;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.menu-container .menu-items:active .title-panel p {
    text-shadow: 2px 4px 3px #7b7b7b;
}
.menu-container .menu-items:hover .title-panel p {
    font-weight: 700;
    font-size: 18px;
}