*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFB74D;
}
.loginPanel{
    width: 400px;
    height: 240px;
}
.linkPanel{
    width: 100%;
    float: left;
    display: block;
}
.requestLink{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}
.requestLink:hover{
    color: #0092ff;
    text-decoration: underline;
}
.title3{
    color: white;
    font-weight: 700;
    font-size: 26px;
    width: 100%;
}
.footer{
    background-color: rgba(0,0,0,.3);
    color: white;
    width: 100%;
}
.request-item{
    width: 200px;
    height: 200px;
    float: left;
    margin:10px;
    box-shadow: 0 10px 15px #000;
}
.request-item:hover{
    width: 220px;
    height: 220px;
    float: left;
    margin: 0;
    box-shadow: 0 15px 25px #000;
}
.request-item .image{
    width: 100%;
    height: 120px;
}
.request-item .desc{
    width: 100%;
    height:80px;
}
.login {
    width: 300px;
    height: 200px;
}