.login .left-block{
    width: 500px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
    left: 0;
    background-color: whitesmoke;
}
.login .rigth-filter{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(138,43,226,.3);
    z-index: 10;
}
.background-image{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(5px);
    background-image: url(../../resources/img/back.png);
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
}
.container .footer{
    width: 100%;
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: blueviolet;
    height: 150px;
}

.container .header{
    width: 100%;
    top:0;
    position: absolute;
    left: 0;
    background-color: blueviolet;
    height: 300px;
}
.container .content{
    width: 100%;
    top:300px;
    position: absolute;
    left: 0;
}
.text{
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
    height: 30px;
    border: 1px solid #000;
}
.logo{
    height: 200px;
    width: 450px;
    margin-top: 50px;
}
.logo table{
    width: 100%; height: 100%;
}

.logo table p{
    font-weight: 900;
    color:#fff;
    font-size: 24px;
}
#loginForm{
    margin-top: 20px;
    margin-left: 50px;
    width: 400px;
    height: 300px;
}
.error{
    font-size: 8px;
    color: red;
}
.main-header{
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    height: 75px;
    z-index: 1000;
    background-color: blueviolet;
}
.main-content{
    margin-top: 80px;
    width: 1200px;
    min-height: 540px;
}
.main-header .rigth-block{
    width: 200px;
    height: 100%;
    float: right;
}
.exit{
    margin-right: 50px;
    margin-left: 5px;
    width: 75px;
}
.main-header .rigth-block:hover{
    background-color: rgba(255,255,255,.1);
}
.main-header .rigth-block p{
    line-height: 75px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.modal-user{
    display: none;
    width: 200px;
    height: 400px;
    background-color: blue;
    margin-top: 75px;
    position: fixed;
    margin-right: 50px;
}
.logo{
    height: 100%;
    margin-left: 100px;
    margin-top: 0;
    float: left;
}
.logOutBtn{
    background-color: rgba(0,0,0,0);
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 75px;
    height: 75px;
}
.logOutBtn hover{
    color: white;
}